@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700%7C");

*{
    margin: 0px;
    padding: 0px;
}
body {
    font: 14px/26px "Poppins",sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #6e6e6e;
}
h1,h2,h3,h4,h5 {
	font-weight: 500;
	color:  #333333;
}
h1{
    font-size: 48px;
    line-height: 48px;
}
ol,ul {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a, div, h1, h2, section{
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
a:hover,
a:focus{
    color:#f63440;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img {
    max-width: 100%;
    height: auto;
}
h3 {
    font-size: 22px;
    line-height: 30px;
}
.page-title {
	position: relative;
	padding: 76px 0px 77px 0px;
	text-align: center;
}
.page-title .page-title-heading .title {
    margin-bottom: 23px;
}



/* image background */
.parallax1 {
    background-image: url('../images/bg-parallax1.jpg');
}
.parallax {
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 16px;
	background-repeat: no-repeat;
}
.breadcrumbs ul li {
	display: inline-block;
	position: relative;
	margin:  0px 9px 0px 7px;
}
.breadcrumbs ul li:before {
	content: ">";
	position: absolute;
	top: 0;
	right: -16px;
    color: #6e6e6e;
}
.breadcrumbs ul li a:hover {
	color: #f63440;
    text-decoration: none;
}
.breadcrumbs ul li a {
    color: #6e6e6e;
    font-weight: 400;
}

/*  section shop-4col  */

.flat-row.main-shop.shop-4col {
    padding: 70px 0;
}
.flat-row {
    clear: both;
    display: block;
    position: relative;
    padding: 87px 0 63px 0;
    overflow: hidden;
}
.filter-shop.bottom_68 {
    margin-bottom: 68px;
}
.filter-shop .showing-product {
    font-weight: 400;
    float: left;
}
.filter-shop .showing-product, .filter-shop ul.flat-filter-search li {
    color: #333;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

.filter-shop ul.flat-filter-search {
    float: right;
    text-decoration: none;
}

.filter-shop ul.flat-filter-search li {
    display: inline-block;
    position: relative;
    padding: 0 10px 0 0;
    cursor: pointer;
}
.filter-shop .showing-product, .filter-shop ul.flat-filter-search li {
    color: #333;
    font-size: 16px;
    line-height: 21px;
}
.filter-shop ul.flat-filter-search li a {
    font-weight: 500;
}
.filter-shop ul.flat-filter-search li:after {
    content: "/";
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    text-decoration: none;
}
.filter-shop ul.flat-filter-search li.search-product:after {
    content: "\f002";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
}
.filter-shop ul.flat-filter-search li.search-product.active:after {
    content: "\f00d";
    color: #f63440;
}
.filter-shop ul.flat-filter-search li.search-product a {
	margin-right: 10px;
}
.filter-shop ul li a:hover { 
    color: #f63440;
    text-decoration: none;
}
/* Slidebar shop */
.sidebar.slidebar-shop {
	margin-top: -8px;
	padding-right: 40px;
}

.sidebar.slidebar-shop .widget {
	padding-bottom: 33px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 48px;
}

.sidebar.slidebar-shop .widget:last-child, .sidebar.slidebar-shop .widget:first-child {
	border: none;
}

.slidebar-shop .widget .widget-title {
	line-height: 21px;
	margin-bottom: 11px;
}

.slidebar-shop .widget ul li a {
	line-height: 40px;
}

.slidebar-shop .widget ul li a span {
	color: #6e6e6e;
}

.slidebar-shop .widget ul li a:hover, .slidebar-shop .widget ul li a.active {
	color: #333333;
    text-decoration: none;
}

.box-filter.slidebar-shop {
    border-top: 1px solid #e5e5e5;
    padding-top: 31px;
    position: relative;
    z-index: 2;
}
.box-filter.slidebar-shop .btn-close {
    position: absolute;
    top: 2px;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #f63440;
}
.box-filter.slidebar-shop .btn-close a {
	line-height: 30px;
	color: #ffffff;
}
.box-filter.slidebar-shop .widget {
	float: left;
	margin-bottom: 25px;
}

/* Section widget */
.widget ul li a {
    color: #c5c5c5;
}
.breadcrumbs ul li:last-child:before {
	content: "";
	background-color: transparent;
}
.box-filter.slidebar-shop .widget {
	float: left;
	margin-bottom: 25px;
}

.box-filter.slidebar-shop .widget-sort-by {
	width: 23%;
}

.box-filter.slidebar-shop .widget-price {
	width: 19.6%;
}

.box-filter.slidebar-shop .widget-color {
	width: 19.8%;
}

.box-filter.slidebar-shop .widget-size {
	width: 14.5%;
}

.box-filter.slidebar-shop .widget_tag {
	width: 23.1%;
}

.box-filter.slidebar-shop .widget .widget-title {
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 30px;
}
.widget ul{
    margin: 0;
    padding: 0;
}
.slidebar-shop .widget ul li a.active {
    color: #333;
}

/* widget color */
.slidebar-shop .flat-color-list.icon-left li {
    margin: 10px 0;
}
.flat-color-list.icon-left li {
    display: block;
    position: relative;
    margin: 5px 0;
}
.flat-color-list.icon-left li>a {
    display: inline-block;
}
.box-filter.slidebar-shop .widget ul li a {
    line-height: 30px;
}
.flat-color-list li a.yellow {
    background-color: #faed34;
}

.flat-color-list.width-14 {
	margin-top: 6px;
}

.flat-color-list li {
	display: inline-block;
	margin: 0px 4px;
}

.flat-color-list li a {
	position: relative;
}

.flat-color-list li a {
	width: 12px;
	height: 12px;
	background-color: transparent;
	display: block;
	border-radius: 50%;
}
.flat-color-list.width-14 li a {
	width: 14px;
	height: 14px;
}

.flat-color-list li a.yellow {
	background-color: #faed34;
}

.flat-color-list li a.pink {
	background-color: #f5eaea;
}

.flat-color-list li a.red {
	background-color: #ee1313;
}

.flat-color-list li a.black {
	background-color: #000;
}

.flat-color-list li a.purple {
	background-color: #684ddc;
}

.flat-color-list li a.khaki {
	background-color: #cfc300;
}

.flat-color-list li a.blue {
	background-color: #7cc576;
}


.flat-color-list li a:before,
.flat-color-list li a:after {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%; 
	border-radius: 50%;
	border: 2px solid #fff;
	transform: scale(1);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	z-index: -1;
}

.flat-color-list li a.yellow:before {
	border-color: #faed34;
}

.flat-color-list li a.pink:before {
	border-color: #f5eaea;
}

.flat-color-list li a.red:before {
	border-color: #ee1313;
}

.flat-color-list li a.black:before {
	border-color: #000;
}

.flat-color-list li a.purple:before {
	border-color: #684ddc;
}

.flat-color-list li a.khaki:before {
	border-color: #cfc300;
}

.flat-color-list li a.blue:before {
	border-color: #7cc576;
}

.flat-color-list li a:hover:after { 
	opacity: 1;
	visibility: visible;
	transform: scale(1.25);
 }

.flat-color-list li a:hover:before {
	opacity: 1;
	visibility: visible;
	transform: scale(1.5);
}

/* Icon left */
.flat-color-list.icon-left li {
	display: block;
	position: relative;
	margin: 5px 0px;
}

.flat-color-list.icon-left li > a {
	display: inline-block;
}

.flat-color-list.icon-left li > span {
	display: inline-block;
	padding-left: 24px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.flat-color-list.icon-left li:hover > span {
	color: #333;
	font-weight: 500;
}
/* Widget tag */

.widget.widget_tag .tag-list a {
    display: inline-block;
    color: #6e6e6e;
    line-height: 29px;
    text-align: center;
    background-color: #eee;
    padding: 0 17px;
    margin: 0 8px 12px 0;
}
.widget.widget_tag .tag-list a.active,
.widget.widget_tag .tag-list a:hover {
	background: #f63440;
	color: #ffffff;
    text-decoration: none;
}


/* Shop search */

.shop-search {
    position: relative;
    margin: 0 0 68px;
    z-index: 1;
}
.shop-search .search-form, .shop-search .search-form input {
    height: 57px;
}
.shop-search .search-form input, .shop-search .search-form label {
    line-height: 57px;
}
.shop-search .search-form label {
    display: block;
    margin: 0;
}
.shop-search .search-form input, .shop-search .search-form label {
    padding-left: 0;
    font-size: 24px;
    color: #c5c5c5;
    font-weight: 300;
}
.shop-search .search-form input, .shop-search .search-form label {
    line-height: 57px;
}
.shop-search .search-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ebebeb;
}
.shop-search .search-form input[type="search"]:focus {
	border-color: transparent;
	border-bottom-color: #f63440;
}

/* Product Four column */

.product-fourcolumn {
    margin-bottom: 13px;
}
.product-content .product {
	width: 100%;
}
.product.style2 .product-item{
	margin-bottom: 33px;
} 
.product-content .product .product-item{
	border-right: 1px solid #efefef;
    text-align: center;
    float: left;
    position: relative;
    margin-bottom: 48px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.product.style2 .product-item .product-thumb {
    padding: 50px 0 0;
}
.product.style2 .product-item .product-info {
    padding: 0 35px 40px;
}
.product.style2 .product-item .product-info {
    margin-top: -11px;
}
.product .product-item .product-thumb, .product .product-item .product-info {
    position: relative;
}
.product .product-item .product-title {
    font-size: 15px;
    line-height: 27px;
    color: #333;
    font-weight: 500;
}
.product .product-item .price ins {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    color: #f63440;
    text-decoration: none;
}
.product-content.product-fourcolumn .product .product-item:nth-child(9){
	clear: both;
}
.flat-color-list {
    margin-top: 2px;
	/* margin-right:40px; */
}
.product-fourcolumn .product .product-item {
    width: 25%;
}

/* Add to cart */

.product .product-item .add-to-cart {
	background: #f63440;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	-webkit-transform: translate(0px, 10px);
	   -moz-transform: translate(0px, 10px);
	    -ms-transform: translate(0px, 10px);
	     -o-transform: translate(0px, 10px);
	        transform: translate(0px, 10px);
}

.product .product-item .add-to-cart a {
	font-weight: 700;
	line-height: 50px;
	color: #ffffff;
	text-decoration: none;
}

.product .product-item .like {
	font-size: 18px;
	line-height: 35px;
	position: absolute;
	top: 27px;
	right: 22px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	-webkit-transform: translate(30px ,0px);
	   -moz-transform: translate(30px ,0px);
	    -ms-transform: translate(30px ,0px);
	     -o-transform: translate(30px ,0px);
	        transform: translate(30px ,0px);
}

.product .product-item:hover .add-to-cart, .product .product-item:hover .like {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0px,0px);
	   -moz-transform: translate(0px,0px);
	    -ms-transform: translate(0px,0px);
	     -o-transform: translate(0px,0px);
	        transform: translate(0px,0px);
}

.product .product-item .add-to-cart:hover {
	background-color: #333333;
	cursor: pointer;
}

.product.gutter-15 {
	margin-left: -15px;
	margin-right: -15px;
}

.product.gutter-15 .product-item {
	padding-left: 15px;
	padding-right: 15px;
}
.product-content .product .product-item:hover {
	-webkit-box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, 0.15); 
	        box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, 0.15); 
	 z-index: 9;
}

.product.style2 .product-item .like {
    font-size: 14px;
    line-height: 26px;
    top: 20px;
}
.product .product-item .like {
    font-size: 18px;
    line-height: 35px;
    position: absolute;
    top: 27px;
    right: 22px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate(30px,0px);
    -moz-transform: translate(30px,0px);
    -ms-transform: translate(30px,0px);
    -o-transform: translate(30px,0px);
    transform: translate(30px,0px);
}
.product .product-item:hover .add-to-cart, .product .product-item:hover .like {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0px,0px);
	   -moz-transform: translate(0px,0px);
	    -ms-transform: translate(0px,0px);
	     -o-transform: translate(0px,0px);
	        transform: translate(0px,0px);
}
.fa-heart:before {
    content: "\f08a";
}

/* Span new */

.product.style2 .product-item .new {
    font-size: 14px;
    line-height: 26px;
    width: 65px;
    top: 20px;
    left: 20px;
}

.product .product-item .new {
    font-size: 18px;
    line-height: 35px;
    width: 87px;
    text-align: center;
    background-color: #7cc576;
    color: #fff;
    display: block;
    position: absolute;
    top: 27px;
    left: 25px;
}

.product.style2 .product-item .new {
    font-size: 14px;
    line-height: 26px;
    width: 65px;
    top: 20px;
    left: 20px;
}

.product .product-item .sale {
    background-color: #f63440;
}

.product .product-item .price del {
    font-size: 16px;
    line-height: 36px;
    color: #c5c5c5;
    font-weight: 100;
}

/* Pagination */

.margin-top-11 {
    margin-top: 11px!important;
}
.flat-pagination {
	padding-top: 40px;
}
.flat-pagination li {
    display: inline-block;
    margin-right: 5px;
}
.flat-pagination li a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: 0 0;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #6e6e6e;
	text-decoration: none;
}
.flat-pagination li.active a, .flat-pagination li a:hover {
    background: #f63440;
    border: 1px solid #f63440;
    color: #fff;
}
.mail-chimp .text{
	margin-top: 6px;
}
.mail-chimp {
    background: #f5f5f5;
    padding: 34px 0px 31px 0px;
}

/* subscribe-form */

#subscribe-form {
    position: relative;
    float: left;
    width: 67.5%;
    padding-left: 15px;
}
#subscribe-form input[type="email"] {
	height: 45px;
}
input[type="email"]{	
	background-color: #ffffff;
    height: 50px;
    width:  100%;
    padding-left: 17px;
    line-height: 30px;
    letter-spacing: 0.6px;
    font-weight: 400;
    outline: none;
    border: 1px solid #ebebeb;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
button,
	input {
		font-size: 100%;
		margin: 0;
		max-width: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		       box-sizing: border-box;
}
input {
	line-height: normal;
}
input {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}
input[type="email"]:focus {
	border: 1px solid #f63440;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}	
input[type="email"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #c5c5c5;
}
textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {		
	color: #b3b7c8;
	opacity: 1;
}
input:-ms-input-placeholder {
	color: #b3b7c8;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #b3b7c8;
	opacity: 1;
}
/* button */
button, input[type="button"]{
	line-height: 1;
	cursor: pointer;
	border:none;
}
#subscribe-form button {
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: -0.2px;
}
button{
	border:none;
}
button{
    font-weight: 700;
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;
    padding: 7px 26px;
    background-color: #f63440;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
button {
	z-index: 1;
	position: relative;
}
button:before {
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #333333;
	z-index: -1;
	-webkit-transition: all 0.3s ease 0s;
       -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
    	    transition: all 0.3s ease 0s;
}
button:hover:before {
	width: 100%;
}
/* Flat social */
.mail-chimp .flat-social {
    float: right;
    width: 32.5%;
    padding-left: 70px;
}
.flat-social li { 
	display: inline-block; 
}
.flat-social li a {
    font-size: 17px;
    line-height: 45px;
    color: #333;
    margin: 0 0 0 17px;
}
.flat-social li a:hover {
	color: #f63440;
}




