.flat-row h3 {
  font-size: 22px !important;
  line-height: 30px;
}

/* button */
button,
input[type='button'] {
  line-height: 1;
  cursor: pointer;
  border: none;
}
#subscribe-form button {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: -0.2px;
  height: 44px;
}
button {
  border: none;
}
button {
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  text-transform: uppercase;
  padding: 7px 26px;
  background-color: #f63440;

  transition: all 0.3s ease 0s;
}
button {
  z-index: 1;
  position: relative;
}
button:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #333333;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
button:hover:before {
  width: 100%;
}

/* sign up section */
.mail-chimp {
  background: #f5f5f5;
  padding: 20px 0 0px 0px;
}

.mail-chimp .row {
  align-items: center;
}

.mail-chimp .text {
  margin-bottom: 25px;
}

.flat-social {
  margin-top: 10px;
  float: right;
}

.flat-social li {
  display: inline-block;
}

.flat-social li a {
  font-size: 18px;
  line-height: 45px;
  color: #333;
  margin: 0 0 0 17px;
}

.flat-social li a:hover {
  color: #f63440;
}

/* Form */
#subscribe-form {
  position: relative;
  float: left;
  width: 67.5%;
  padding-left: 15px;
}
#subscribe-form input[type='email'] {
  height: 45px;
}
input[type='email'] {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  padding-left: 17px;
  line-height: 30px;
  letter-spacing: 0.6px;
  font-weight: 400;
  outline: none;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease-in-out;
}
button,
input {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  line-height: normal;
}
input {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  );
}
input[type='email']:focus {
  border: 1px solid #f63440;
  box-shadow: none;
}
input[type='email'],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  box-shadow: none;
  color: #c5c5c5;
}
textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #b3b7c8;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #b3b7c8;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #b3b7c8;
  opacity: 1;
}

/* Footer */
.footer {
  padding: 55px 0 9px;
  display: block;
}

.widget {
  margin-bottom: 49px;
}

.widget ul {
  margin: 0;
  padding: 0;
}

.widget ul li {
  list-style: none;
}

.widget.widget-link ul li a {
  line-height: 36px;
  font-weight: 500;
  color: #333;
}

.widget.widget-link ul li a:hover {
  color: #f63440;
}

.widget.widget-brand .logo-footer {
  margin-bottom: 16px;
}

.widget.widget-brand .flat-contact li {
  line-height: 28px;
  font-weight: 500;
}

.footer-bottom {
  border-top: 1px solid #ebebeb;
  padding: 14px 0;
}

.copyright {
  margin-bottom: 0;
}

.footer-bottom .copyright {
  line-height: 30px;
  font-weight: 400;
}

.footer-bottom .copyright a {
  color: #333;
  font-weight: 500;
}

.footer-bottom .copyright a:hover {
  color: #f63440;
}
