/* New product */
.flat-row.row-product-new {
  padding: 20px 0 70px;
}

.product-fourcolumn {
  margin-bottom: 13px;
}

.product-content .product {
  width: 100%;
}

.product.style2 .product-item {
  margin-bottom: 33px;
}

.product.style2 .product-item .product-thumb {
  padding: 30px 0 0;
}

.product-content .product .product-item {
  border-right: 1px solid #efefef;
  text-align: center;
  float: left;
  position: relative;
  margin-bottom: 48px;
  transition: all 0.3s ease-in-out;
}

.product-fourcolumn .product .product-item {
  width: 25%;
}

.product.style2 .product-item .new {
  font-size: 14px;
  line-height: 26px;
  width: 65px;
  top: 20px;
  left: 20px;
}

.product .product-item .product-thumb,
.product .product-item .product-info {
  position: relative;
}

.product .product-item .new {
  text-align: center;
  background-color: #7cc576;
  color: #fff;
  display: block;
  position: absolute;
}

.product.style2 .product-item .new {
  font-size: 14px;
  line-height: 26px;
  width: 65px;
  top: 20px;
  left: 20px;
}

.product.style2 .product-item .product-info {
  padding: 0 35px 40px;
  margin-top: -11px;
}

.product.style2 .product-item .product-title {
  font-size: 16px;
}

.product .product-item .product-title {
  line-height: 27px;
  color: #333;
  font-weight: 500;
}

.product .product-item .price ins {
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  color: #f63440;
  text-decoration: none;
}

.flat-color-list.width-14 {
  margin-top: 6px;
}

.flat-color-list li {
  display: inline-block;
  margin: 0 4px;
}

.flat-color-list li a {
  display: block;
  border-radius: 50%;
}

.flat-color-list.width-14 li a {
  width: 14px;
  height: 14px;
}

.flat-color-list li a {
  position: relative;
}
.flat-color-list li a.red {
  background-color: #ee1313;
}

.flat-color-list li a.blue {
  background-color: #7cc576;
}

.flat-color-list li a.black {
  background-color: #000;
}

.flat-color-list li a:hover:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1.5);
}

.flat-color-list li a:before,
.flat-color-list li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: scale(1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.flat-color-list li a.red:before {
  border-color: #ee1313;
}

.flat-color-list li a.blue:before {
  border-color: #7cc576;
}

.flat-color-list li a.black:before {
  border-color: #000;
}

.flat-color-list li a:hover:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1.5);
}

.flat-color-list li a:hover:after {
  opacity: 1;
  visibility: visible;
  transform: scale(1.25);
}

.product .product-item .add-to-cart {
  background: #f63440;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  transform: translate(0px, 10px);
}

.flat-color-list li a:before,
.flat-color-list li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: scale(1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.product .product-item:hover .add-to-cart,
.product .product-item:hover .like {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.product .product-item .add-to-cart a {
  font-weight: 700;
  line-height: 50px;
  color: #fff;
}

.product .product-item .like {
  font-size: 18px;
  line-height: 35px;
  position: absolute;
  top: 27px;
  right: 22px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  transform: translate(30px, 0px);
}

.product .product-item:hover .add-to-cart,
.product .product-item:hover .like {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}

.product .product-item .add-to-cart:hover {
  background-color: #333333;
  cursor: pointer;
}

.product .style2 .clearfix li {
  list-style: none;
}

.flat-color-list.width-14 {
  padding: 0;
}
