@import './products.css';
@import './footer.css';

ol,
ul {
  list-style: none;
}

/* Title */
.title-section {
  position: relative;
  text-align: center;
  margin-bottom: 48px;
}

.title-section .title {
  font-size: 32px;
  line-height: 66px;
  font-weight: 500;
  color: #333;
  position: relative;
}

.title-section .title:before {
  content: '';
  width: 60px;
  height: 2.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f63440;
  margin: 0 auto;
}

a:focus,
a:hover {
  text-decoration: none !important;
}

.page-title {
  position: relative;
  padding: 80px 77px;
  text-align: center;
}

.parallax {
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 30vh;
  margin-top: 80px;
}

@media only screen and (max-width: 991px) {
  .blog-posts,
  .flat-row {
    padding: 35px 0 !important;
  }
}

.parallax1 {
  background-image: url(https://themesflat.com/html/modaz/images/parallax/bg-parallax1.jpg);
}

.boxed {
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 48px !important;
  line-height: 48px !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: #111;
}

.title {
  margin-bottom: 23px;
}

.breadcrumbs ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
}

.product-detail .product-quantity .add-to-cart a {
  height: 45px;
  width: 170px;
}

.breadcrumbs ul li a {
  color: #6e6e6e;
  font-weight: 400;
  text-decoration: none;
  margin-left: 5px;
}

.flat-row.shop-detail .slides {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
}

.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-viewport {
  overflow: hidden;
  position: relative;
  max-width: 2000px;
}

.flex-viewport .slides {
  width: 1200%;
  transition-duration: 0s;
  transform: translate3d(-570px, 0px, 0px);
  display: block !important;
}

@media (max-width: 1199px) {
  .flat-row .shop-detail .slides {
    width: 1200%;
    transition-duration: 0s;
    transform: translate3d(-455px, 0px, 0px);
  }
}

@media (max-width: 993px) {
  .flex-viewport .slides {
    width: 1200% !important;
    transition-duration: 0 !important;
    transform: translate3d(-690px, 0px, 0px) !important;
    /* display: block !important; */
  }
  .flex-viewport .slides > li {
    width: 345px !important;
    margin-right: 0px !important;
    float: left !important;
    display: block !important;
  }
}

.flex-viewport .slides > li {
  width: 570px;
  margin-right: 0px;
  float: left;
  display: block;
}

@media (max-width: 767.5px) {
  .flex-viewport .slides {
    width: 1200% !important;
    transition-duration: 0s !important;
    transform: translate3d(-737px, 0px, 0px) !important;
  }
  .flex-viewport .slides > li {
    width: 737px !important;
    margin-right: 0px !important;
    float: left !important;
    display: block !important;
  }
}

.product-detail .quantity > span.inc {
  top: 0;
}
.product-detail .quantity > span {
  display: block;
  position: absolute;
  right: 0;
  text-align: center;
  width: 26px;
  height: 50%;
  line-height: 20px;
  border-left: 1px solid #ebebeb;
  font-size: 0;
  cursor: pointer;
}

.product-detail .quantity > span.inc:before {
  content: '\f106';
}

.product-detail .quantity > span:before {
  content: '';
  font-family: fontawesome;
  font-size: 16px;
  color: #333;
}

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

/* .row { display: flex; } */
@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.wrap-flexslider .inner {
  padding-top: 7px;
}

.detail-shop {
  height: 765.08px;
  width: 1200px;
}

.flat-row {
  clear: both;
  display: block;
  position: relative;
  padding: 87px 0 63px 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    /* width: 750px; */
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.flat-row.shop-detail {
  padding: 62px 0 34px;
}

.flexslider.style-1 .flex-control-thumbs li {
  margin-right: 27px;
  list-style-type: none;
}

.flexslider.style-1 .flex-control-thumbs li:last-child {
  margin: 0;
}

.flexslider {
  margin: 0 0 20px;
  background: #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider {
  margin: 0;
  padding: 0;
}

.product-detail .price ins {
  font-size: 24px;
  color: #333;
  padding-left: 7px;
  text-decoration: none;
}

.product-detail .price del,
.product-detail .price ins {
  line-height: 26px;
  font-weight: 500;
}

.product-detail .size ul li a {
  color: #c5c5c5;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.product-detail .price del {
  font-size: 18px;
  color: #c5c5c5;
}

.flat-icon.style-1 span.fa {
  font-size: 24px;
  color: #333;
  font-weight: 400;
  display: block;
  width: 82px;
  height: 82px;
  line-height: 80px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
}

.flexslider .flex-control-thumbs img.flex-active {
  opacity: 1;
}
.flexslider .flex-control-thumbs img {
  border: none;
  height: auto;
  border-radius: 0;
}

.flex-control-thumbs .flex-active {
  cursor: default;
  border: 2px solid #f28b00;
}

.flex-control-thumbs img {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  height: 85px;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
}

.flexslider .flex-control-thumbs img:hover {
  border: none;
}
.flex-control-thumbs img:hover {
  opacity: 1;
  border: 2px solid #f28b00;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search-plus:before {
  content: '\f00e';
}

.flat-icon.style-1 {
  position: absolute;
  top: 0;
  right: 0;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-detail .product-color span,
.product-detail .size span {
  font-size: 16px;
  line-height: 26px;
  color: #6e6e6e;
  font-weight: 500;
}

.flex-control-thumbs {
  display: flex;
  padding-left: 2;
}

.product-detail .inner {
  padding-left: 38px;
}

.product-detail .box-like {
  margin-left: 8px;
}

.product-detail .box-like a {
  font-size: 18px;
  color: #6e6e6e;
  border: 1px solid #ebebeb;
  display: block;
  padding: 0 12px;
  line-height: 42px;
  height: 45px;
}

.product-detail .box-like a i {
  padding-top: 70%;
}

.product-detail .add-to-cart {
  margin-left: 6px;
}

.product-detail .add-to-cart a {
  font-weight: 700;
  color: #fff;
  display: block;
  padding: 0 30px;
  line-height: 44px;
  background-color: #f63440;
  width: 35.5%;
  text-align: center;
}

.product-detail .product-quantity {
  display: flex;
}

.product-detail .quantity input {
  width: 68px;
  height: 45px;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  padding: 0;
  padding-left: 16px;
  font-weight: 300;
}

.product-detail .quantity {
  position: relative;
}
.product-detail .product-quantity > div {
  display: inline-block;
}

.product-detail .add-to-cart a:hover {
  background-color: #333;
}

.product-detail .quantity > span.inc {
  top: 0;
}

.product-detail .flat-socials {
  margin-top: 21px;
}

.product-detail .quantity > span.dec {
  bottom: 0;
  border-top: 1px solid #ebebeb;
}

.product-detail .quantity > span.dec:before {
  content: '\f107';
}

.product-detail .flat-socials li:first-child {
  margin-left: 0;
}

.product-detail .flat-socials li {
  margin: 0 9px;
}

.flat-socials li {
  display: inline-block;
}

.flat-socials {
  padding-left: 0px;
}

.flat-socials li a {
  color: #6e6e6e;
  font-size: 20px;
}

.product-detail .product-categories {
  margin-top: 27px;
}

.product-detail .product-categories span,
.product-detail .product-tags span {
  color: #6e6e6e;
  font-weight: 400;
  text-decoration: none;
}

.product-detail .product-categories a,
.product-detail .product-tags a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
}

.product-detail .size {
  display: flex;
  justify-content: flex-start;
}

.product-detail .size ul {
  padding-left: 50px;
}

.product-detail .size ul li {
  padding: 0 8.5px;
  display: inline-block;
}

.flat-color-list li a.yellow {
  background-color: #faed34;
}

.flat-color-list li a.pink {
  background-color: #f5eaea;
}

.flat-color-list li a.blue {
  background-color: #7cc576;
}

.flat-color-list li a.khaki {
  background-color: #cfc300;
}

.flat-color-list li a.black {
  background-color: #000;
}

.flat-color-list li a.red {
  background-color: #ee1313;
}

.flat-color-list li a {
  width: 12px;
  height: 12px;
  background-color: transparent;
  display: block;
  border-radius: 50%;
}

.product-detail .product-color {
  margin-top: 14px;
  display: flex;
}

.product-detail .product-color ul li {
  padding: 0 15px;
  display: inline-block;
}

.product-detail .product-infor {
  margin-top: 15px;
}

.product-detail .product-infor li {
  position: relative;
  padding-left: 20px;
  color: #6e6e6e;
  font-weight: 400;
}

.flat-row.shop-detail-content {
  padding: 45px 0 45px;
}

.flat-tabs.style-1 .menu-tab {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin-bottom: 0;
}

.flat-tabs.style-1 .menu-tab li {
  text-align: center;
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  padding: 0 19px;
  line-height: 37px;
  position: relative;
  list-style-type: none;
}

.flat-grid-box.border-width.border-width-1 .grid-row:first-child {
  border-top: 0;
}
.flat-grid-box.border-width.border-width-1 .grid-row {
  border-top: 1px solid #e1e1e1;
}
.flat-grid-box.has-padding .grid-row {
  padding: 36px 0 52px;
}

.flat-grid-box.col2 .grid-item {
  width: 50%;
  float: left;
}

.flat-tabs.style-1 .image-left .text-wrap {
  padding: 100px 100px 0 15px;
}

.flat-tabs.style-1 .content-tab .title {
  color: #333;
  margin-bottom: 13px;
}
.flat-tabs .content-tab .title {
  font-size: 24px;
  line-height: 26px;
}

.flat-tabs.has-border .content-tab {
  border: 1px solid #e1e1e1;
}

.flat-tabs.style-1 .menu-tab li.active:after {
  opacity: 1;
  visibility: visible;
}

.flat-tabs.style-1 .menu-tab li:after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  margin-bottom: -3px;
  opacity: 0;
  visibility: hidden;
}

.flat-tabs.style-1 .image-right .text-wrap {
  padding: 96px 15px 0 99px;
}

.flat-tabs.style-1 .image-right .thumb {
  padding-left: 15px;
}

.flat-tabs.style-1 .image-left .thumb {
  padding-left: 100px;
}

img {
  vertical-align: middle;
  border-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}

@media (width < 605px) {
  .flex-viewport .slides > li {
    width: 408px !important;
  }
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.product-fourcolumn,
.product-sixcolumnfull {
  margin-bottom: 13px;
}

.product-content .product {
  width: 100%;
}

.product-content .product .product-item {
  border-right: 1px solid #efefef;
  text-align: center;
  float: left;
  position: relative;
  margin-bottom: 48px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 6px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

.flat-tabs.style-1 .menu-tab li {
  margin-right: 4px;
}

.flat-tabs .menu-tab li {
  display: inline-block;
}

ol.flex-control-nav.flex-control-thumbs {
  margin: 23px 0 0;
}

.flex-control-thumbs {
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  float: left;
  margin: 0;
}

.flexslider .flex-control-thumbs img.flex-active {
  opacity: 1;
}

.flexslider .flex-control-thumbs img:not(:hover) {
  opacity: 0.5;
}

/*responsive*/

@media only screen and (max-width: 991px) {
  .blog-posts,
  .flat-row {
    padding: 35px 0 !important;
  }
}

@media only screen and (max-width: 1199px) {
  .mail-chimp .flat-social {
    padding-left: 0;
  }

  .instagram-wrap.col5 .instagram_badge_image {
    width: 33.33%;
    margin-bottom: 20px;
  }

  .instagram-wrap.col5 .instagram_badge_image:last-child {
    margin-bottom: 0;
  }

  .flat-image-box.col2 .item {
    width: 47.5%;
  }

  .main-single,
  .post-wrap.detail,
  .post-wrap.style2 {
    margin-right: 0;
  }

  .product-sixcolumnfull .product .product-item:nth-child(4),
  .product-fivecolumn .product .product-item:nth-child(4),
  .product-fivecolumn .product .product-item:nth-child(7),
  .product-fivecolumn .product .product-item:nth-child(10),
  .product-fivecolumn .product .product-item:nth-child(13),
  .grid.two article:nth-child(3),
  .grid.three article:nth-child(7) {
    clear: both;
  }

  .sidebar.slidebar-shop {
    padding: 0;
  }

  .product-sixcolumnfull .product .product-item,
  .product-fivecolumn .product .product-item {
    width: 33.33%;
  }

  .product-content.product-fivecolumn .product .product-item:nth-child(11) {
    clear: none;
  }

  .flexslider.style-1 .flex-control-thumbs li {
    margin-bottom: 27px;
  }

  .instagram-wrap.style-1 .themesflat-button {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .menu-extra > li,
  .image-sub,
  .sidebar.slidebar-shop,
  .switcher-container {
    display: none;
  }

  .header-style-2 #site-header-inner {
    padding: 20px 0;
  }

  .mobile-button {
    display: block;
  }

  .main-single {
    margin: 0;
  }

  .header-style-2 .mobile-button {
    margin-top: 0;
  }

  .product-fourcolumn .product .product-item {
    width: 50%;
  }

  .product-content .product .product-item {
    border-right: 0;
  }

  .product.style2 .product-item {
    margin-bottom: 47px;
  }

  .mail-chimp .flat-social {
    margin-top: 35px;
  }

  .footer {
    padding: 35px 0;
  }

  .blog-posts,
  .flat-row {
    padding: 35px 0 !important;
  }

  .flat-row.no-padding {
    padding: 0 !important;
  }

  .grid.two article {
    margin-bottom: 35px;
  }

  .divider.h73,
  .divider.h160,
  .divider.h97,
  .divider.h120 {
    height: 35px;
  }

  .product-content.product-sixcolumnfull .product .product-item,
  .product-fivecolumn .product .product-item {
    width: 50%;
  }

  .product.style2.product-sixcolumnfull .product-item:nth-child(3),
  .product-content.product-sixcolumnfull .product .product-item:nth-child(11),
  .product-content.product-sixcolumnfull .product .product-item:nth-child(17),
  .product-fivecolumn .product .product-item:nth-child(3),
  .product-fivecolumn .product .product-item:nth-child(7),
  .product-fivecolumn .product .product-item:nth-child(9),
  .product-content.product-fivecolumn .product .product-item:nth-child(11),
  .product-fourcolumn .product .product-item:nth-child(3) {
    clear: both;
  }

  .product-content.product-sixcolumnfull .product .product-item:nth-child(4),
  .product-fivecolumn .product .product-item:nth-child(4),
  .product-fivecolumn .product .product-item:nth-child(10) {
    clear: none;
  }

  .font-size-32 {
    font-size: 22px !important;
  }

  .font-size-30 {
    font-size: 20px !important;
  }

  .line-height-36 {
    line-height: 24px !important;
  }

  .flat-gallery.style-1 h2 {
    font-size: 28px;
  }

  .flat-image-box.style-2 .title {
    font-size: 38px;
  }

  .instagram-wrap.col5 .instagram_badge_image {
    width: 50%;
  }

  .flat-image-box.col2 .item {
    width: 46.5%;
  }

  .product.style4 .product-item .product-thumb img {
    width: 100%;
  }

  .post-wrap.style2 article .featured-post {
    margin: 0 0 25px;
    float: none;
  }

  .sidebar.style2 {
    margin: 0;
  }

  .product-detail .inner {
    padding-left: 0;
  }

  .product-detail ul.flat-color-list,
  .product-detail .size ul {
    padding-left: 10px;
  }

  .flat-tabs.style-1 .content-inner > .inner.max-width-83,
  .flat-tabs.style-1 .content-inner > .inner.max-width-40 {
    max-width: 100%;
  }

  .quantity-group .quantity-group-item .one {
    width: 19%;
  }

  .product-detail .quantity-group .name h6 {
    line-height: 26px;
  }

  .title-section,
  .widget {
    margin: 0 0 35px !important;
  }

  .widget .widget-title {
    margin-bottom: 14px !important;
  }

  .blog-posts .post-wrap,
  .margin-bottom-10 {
    margin-bottom: 0 !important;
  }

  .flat-filter.style-2 li:first-child,
  .padding-left-2,
  article .entry-post {
    padding-left: 0 !important;
  }

  .post-wrap.style2 article .meta-post .comment,
  article .meta-post .date,
  article .meta-post .comment {
    margin: 0 0 0 15px;
  }

  article .meta-post .comment:before {
    width: 0;
    height: 0;
    color: transparent;
  }

  .post-wrap.style2,
  .post-wrap.style1 {
    margin: 0;
  }

  .post-wrap.style1 article .title-post,
  article .title-post {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .post-wrap.style2 article .content-post .title-post {
    margin-bottom: 13px;
  }

  .post-wrap.style2 article {
    padding-bottom: 35px;
    margin-bottom: 35px;
  }

  .grid.three article {
    width: 50%;
  }

  .grid.three article:nth-child(5) {
    clear: both;
  }

  .flat-image-box.row2 .item {
    margin-top: 12px;
  }

  .countdown .square {
    margin-bottom: 20px;
  }

  .flat-filter.style-2 li {
    padding: 0 25px;
  }

  .owl-theme .owl-nav,
  .owl-theme .owl-dots {
    display: none !important;
  }

  .divider.h115,
  .divider.h56,
  .divider.h68,
  .divider.h99,
  .divider.h102 {
    height: 35px;
  }

  .box-filter.slidebar-shop .widget {
    padding-bottom: 0;
  }

  .product-fourcolumn,
  .product-sixcolumnfull {
    margin-bottom: 0;
  }

  .footer .widget {
    margin-bottom: 0 !important;
  }

  .flat-row.flat-iconbox,
  .flat-row.row-best-sale.style1,
  .flat-row.row-image-box {
    padding: 35px 0 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .flat-image-box.div-h20 .item {
    margin-top: 20px;
  }

  .flat-filter li {
    display: block;
    float: none;
    margin-top: 10px;
  }

  .flat-filter li:first-child {
    margin-top: 0;
  }

  .flat-filter.style-1 li a {
    width: 100%;
    border-left: 1px solid rgba(110, 110, 110, 0.5);
  }

  .flat-icon-box .inner {
    margin: 17.5px 0;
  }

  #subscribe-form {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 100% !important;
    padding-left: 0 !important;
  }

  .widget {
    margin-bottom: 35px;
  }

  .widget.widget-link.link-login,
  .widget.widget-brand {
    margin: 0 0 35px;
  }

  .widget.widget-link.link-faq {
    margin-left: 0;
  }

  .flat-filter.style-2 {
    text-align: center;
  }

  .flat-filter.style-2 li:first-child {
    padding-left: 37px;
  }

  .product-top-menu .filter-shop {
    position: relative;
    margin: 30px 0 0;
    text-align: center;
  }

  .product-top-menu .filter-shop ul.flat-filter-search {
    float: none;
  }

  .divider.h0 {
    height: 20px;
  }

  .half-background {
    height: 450px;
    margin: 0 0 35px;
  }

  .flat-image-box.style-1 .thumb img {
    width: 100%;
  }

  .row.separator.dark > [class*='col-'] {
    border: 0;
  }

  .wrap-contact .contact-name,
  .wrap-contact .contact-email,
  .wrap-contact .contact-subject {
    width: 100%;
    margin-bottom: 20px;
  }

  .sidebar {
    display: none;
  }

  .post-wrap.style1 {
    margin-right: 0;
  }

  .product-threecolumn .product .product-item {
    width: 50%;
  }

  .grid.three article {
    width: 50%;
  }

  .product-threecolumn .product .product-item:nth-child(3),
  .product-threecolumn .product .product-item:last-child,
  .grid.three article:last-child,
  .grid.three article:nth-child(3) {
    clear: both;
  }

  .product-content.product-threecolumn .product .product-item:nth-child(4) {
    clear: none;
  }

  .filter-shop .showing-product,
  .filter-shop ul.flat-filter-search {
    float: none !important;
  }

  .filter-shop .showing-product {
    margin-bottom: 20px;
  }

  .flat-tabs.style-1 .image-left .text-wrap,
  .flat-tabs.style-1 .image-right .text-wrap {
    padding: 15px;
  }

  .quantity-group .quantity-group-item .one {
    width: 10%;
  }

  .text-line {
    background-color: transparent;
    width: 0;
  }

  .comments-area ol.comment-list li ol.children,
  .topbar-style-2 #top-bar .top-bar-content {
    display: none;
  }

  .comments-area ol.comment-list li:first-child {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .blog-pagination.center {
    float: none;
  }

  .container-shopfull {
    margin: 0;
  }

  .footer .widget {
    margin: 15px 0 !important;
  }

  .comment-respond .comment-form .comment-name,
  .comment-respond .comment-form .comment-email {
    width: 100%;
  }

  .margin-top-32 {
    margin-top: 20px !important;
  }

  .margin-top-40 {
    margin-top: 0 !important;
  }

  .flat-filter.style-2 li {
    padding: 0;
  }

  .flat-image-box.row2 .item {
    margin-top: 20px;
  }

  .post-wrap.style3 article .content-post {
    padding: 15px 10px;
  }

  .flat-row.row-image-box.style2 {
    padding: 35px 0 !important;
  }
}

@media only screen and (max-width: 479px) {
  .flex-control-thumbs {
    display: unset;
  }

  .product-fourcolumn .product .product-item {
    width: 100%;
  }

  .product.style2 .product-item .product-thumb {
    padding: 50px 0 0;
  }

  .product-content.product-sixcolumnfull .product .product-item,
  .product-fivecolumn .product .product-item {
    width: 100%;
  }

  #top-bar {
    display: none;
  }

  .flat-image-box.style-2 .title {
    font-size: 30px;
  }

  .owl-theme .owl-dots {
    display: none !important;
  }

  .wrap-coming-soon .flat-button button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  article .meta-post .date,
  article .meta-post .comment {
    margin: 0 5px;
  }

  article .meta-post .comment:before {
    content: '';
  }

  .grid.two article,
  .grid.three article {
    width: 100%;
  }

  .post-wrap.detail article blockquote {
    padding: 0;
  }

  .post-wrap.detail article blockquote:before {
    content: '';
  }

  .direction ul > li {
    float: none !important;
  }

  .direction ul.next-pre li {
    width: 100%;
  }

  .direction ul.next-pre li:first-child {
    border-right: 0;
    border-bottom: 1px solid #ebebeb;
  }

  .comments-area {
    padding: 15px;
  }

  .product-threecolumn .product .product-item,
  .box-filter.slidebar-shop .widget {
    width: 100%;
  }

  .flat-tabs.style-1 .menu-tab li {
    display: block;
    margin-bottom: 15px;
  }

  .flat-tabs.style-1 .menu-tab li {
    border: 1px solid #e1e1e1;
  }

  .flat-tabs.style-1 .menu-tab li:after {
    background-color: transparent;
  }

  .flat-tabs.style-1 .menu-tab {
    padding: 0;
  }

  .flat-grid-box.col2 .grid-item {
    width: 100%;
  }

  .flat-tabs.style-1 .image-left .thumb {
    padding: 15px;
  }

  .review-list .thumb {
    float: none;
    margin: 0 0 15px;
  }

  .review-respond,
  .flat-tabs .content-tab .review-list {
    padding: 15px;
  }

  .flexslider.style-2 .flex-control-thumbs li {
    margin: 0 0 5px;
  }

  .flexslider.style-2 .flex-control-thumbs li:last-child {
    display: none;
  }

  .flex-viewport .slides > li {
    width: 384px !important;
  }

  .quantity-group .quantity-group-item .one {
    width: 19%;
  }

  .flat-image-box.style-2 .themesflat-button,
  .flat-image-box.style-2 .text-wrap {
    margin-top: 0;
  }

  .comments-area ol.comment-list article .comment-metadata .date {
    float: none;
  }

  .divider.hsmobile {
    height: 20px;
  }

  .product.style4 .product-item {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  .flat-tabs.style-1 .content-inner > .inner.max-width-83,
  .flat-tabs.style-1 .content-inner > .inner.max-width-40 {
    max-width: 100%;
  }
  .flat-tabs.style-1 .content-inner > .inner.max-width-40 {
    max-width: 40% !important;
    margin: 0 auto !important;
  }
  .flat-tabs .content-inner > .inner {
    padding: 39px 0 35px;
  }
}
.flat-tabs .content-tab .review-list {
  padding: 0 72px 0 41px;
}

.review-list .thumb {
  width: 80px;
  height: 80px;
  float: left;
  margin: 7px 28px 0 0;
}

.content-inner .review-list > li {
  list-style-type: none;
}

.review-list .text-wrap {
  overflow: hidden;
}
.flat-tabs.style-1 .content-inner > .inner.max-width-40 {
  max-width: 20%;
  margin: 0 auto;
}
.flat-tabs .content-inner > .inner {
  padding: 39px 0 35px;
}

.review-respond {
  padding: 20px 43px 22px 41px;
}

.flat-tabs .content-tab table td {
  font-size: 14px;
  line-height: 36px;
  color: #6e6e6e;
  font-weight: 300;
}

.flat-tabs .content-tab table tr td:first-child {
  width: 41.7%;
}
