@import url('font-awesome.css');
@import url('shortcodes.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700|');

/* Reset
-------------------------------------------------------------- */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
body,
div,
h1,
h2,
img,
html,
i,
li,
p,
section,
ul {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

header section {
  display: block;
}

button,
input {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  );
}

button {
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: button;
  border: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 14px/26px 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #6e6e6e;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #f63440;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
}

button {
  border: none;
}

button {
  font-weight: 700;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
  padding: 7px 26px;
  background-color: #f63440;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

textarea,
input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'] {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  padding-left: 17px;
  line-height: 30px;
  letter-spacing: 0.6px;
  font-weight: 400;
  outline: none;
  border: 1px solid #ebebeb;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='email']:focus {
  border: 1px solid #f63440;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type='checkbox'] {
  display: inline;
}

input:-ms-input-placeholder {
  color: #b3b7c8;
}

label {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 9px;
}

input[type='checkbox'] {
  display: none;
}

button {
  z-index: 1;
  position: relative;
}

button:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #333333;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover:before {
  width: 100%;
}

/* bootstrap resetting elements */
.btn {
  background-image: none;
}

h1,
h2,h3 {
  font-weight: 500;
  color: #333333;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #252525;
}
h3{
  font-size: 22px;
  line-height: 30px;
}
.boxed {
  overflow: hidden;
  position: relative;
}

/* Page title
---------------------------------------------------------------*/
.page-title {
  position: relative;
  padding: 76px 0px 77px 0px;
  text-align: center;
}

.page-title .page-title-heading .title {
  margin-bottom: 23px;
}

/* Breadcrumbs
---------------------------------------------------------------*/
.breadcrumbs ul li {
  display: inline-block;
  position: relative;
  margin: 0px 9px 0px 7px;
}

.breadcrumbs ul li:before {
  content: '>';
  position: absolute;
  top: 0;
  right: -12px;
}

.breadcrumbs ul li:last-child:before {
  content: '';
  background-color: transparent;
}

.breadcrumbs ul li a {
  color: #6e6e6e;
  font-weight: 400;
}

.breadcrumbs ul li a:hover {
  color: #f63440;
}

/* Direction */
.direction ul > li {
  display: inline-block;
}

/* Parallax
---------------------------------------------------------------*/
.parallax {
  width: 100%;
  background-attachment: fixed;
  background-position: 50% 0;
}

.parallax .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.parallax1 {
  background-image: url('../images/parallax/bg-parallax1.jpg');
}

.parallax2 {
  background-image: url('../images/parallax/bg-parallax2.jpg');
}

@-webkit-keyframes preloader-wave {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}
/*===================== Send News ===========================*/

.flat-row {
  clear: both;
  display: block;
  position: relative;
  padding: 87px 0 63px 0px;
  overflow: hidden;
}

.mail-chimp {
  background: #f5f5f5;
  padding: 34px 0px 31px 0px;
}

.mail-chimp .text {
  margin-top: 6px;
}

#subscribe-form {
  position: relative;
  float: left;
  width: 67.5%;
  padding-left: 15px;
}

#subscribe-form input[type='email'] {
  height: 45px;
}

#subscribe-form button {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: -0.2px;
}

.mail-chimp .flat-social {
  float: right;
  width: 32.5%;
  padding-left: 70px;
}

/* Flat social
---------------------------------------------------------------*/
.flat-social li {
  display: inline-block;
}

.flat-social li a {
  font-size: 18px;
  line-height: 45px;
  color: #333333;
  margin: 0px 0px 0px 17px;
}

.flat-social li a:hover {
  color: #f63440;
}

/*===================== Footer ===========================*/
/* Footer */
.footer {
  padding: 55px 0 9px;
  /* display: block; */
}

.widget {
  margin-bottom: 49px;
}

.widget ul {
  margin: 0;
  padding: 0;
}

.widget ul li {
  list-style: none;
}

.widget.widget-link ul li a {
  line-height: 36px;
  font-weight: 500;
  color: #333;
}

.widget.widget-link ul li a:hover {
  color: #f63440;
}

.widget.widget-brand .logo-footer {
  margin-bottom: 16px;
}

.widget.widget-brand .flat-contact li {
  line-height: 28px;
  font-weight: 500;
}

.footer-bottom {
  border-top: 1px solid #ebebeb;
  padding: 14px 0;
}

.copyright {
  margin-bottom: 0;
}

.footer-bottom .copyright {
  line-height: 30px;
  font-weight: 400;
}

.footer-bottom .copyright a {
  color: #333;
  font-weight: 500;
}

.footer-bottom .copyright a:hover {
  color: #f63440;
}
